<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../static/css/base.css">
    <title>signup</title>
  </head>

<body>


  <main class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="image">
      <img  src="../../static/img/app_title.png">
    </div>
    
    <form action="/signup" method="post">
      <div>
        <label>ニックネーム</label>
        <input type="text" name="user_name"/>
      </div>

      <div>
        <label>メールアドレス</label>
        <input type="email" name="email"/>
      </div>

      <div>
        <label>パスワード</label>
        <input type="password" name="password1"/>
      </div>

      <div>
        <label>確認用パスワード</label>
        <input type="password" name="password2"/>
      </div>

      <div>
        <button type="submit">サインアップ</button>
      </div>
    </form>
  </main>
</body>
</html>