<div>
  <img src="../../static/img/app_title.png">
</div>

<div>
  <form method="post">
    <div>
      <label>ニックネーム</label>
      <input type="text" />
    </div>

    <div>
      <label>メールアドレス</label>
      <input type="text" />
    </div>

    <div>
      <label>パスワード</label>
      <input type="text" />
    </div>

    <div>
      <label>確認用パスワード</label>
      <input type="text" />
    </div>

    <div>
      <botton>
        <a href="">サインアップ</a>
      </botton>
    </div>
  </form>
</div>
