
<title>update-profile</title>


<div>
  <!--ユーザ情報を持ってくる方法を考える-->
  <form method="post">
    <div>
      <label>ニックネーム</label>
      <input type="text" />
    </div>

    <div>
      <label>メールアドレス</label>
      <input type="email" />
    </div>

    <div>
      <label>パスワード</label>
      <input type="password" />
    </div>

    <div>
      <label>確認用パスワード</label>
      <input type="password" />
    </div>

    <div>
      <button>編集</button>
    </div>

  </form>
</div>
